.embla-responsivo {
  --slide-spacing: 2rem;
  --slide-size: 40%;
  --slide-height: 372px;
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.embla__viewport-responsivo {
  overflow: hidden;
  height: 600px;
}

.embla__container-responsivo {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide-responsivo {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide-responsivo:nth-child(1) {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  margin-left: 0;
  position: relative;
}

.embla__slide__img-responsivo {
  display: block;
  height: var(--slide-height);
  width: 65px;
  height: 65px;
  object-fit: cover;
}

.embla__slide__number-responsivo {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}

.embla__slide__number-responsivo>span {
  color: var(--brand-primary);
  background-image: linear-gradient(45deg,
      var(--brand-primary),
      var(--brand-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .embla__slide-responsivo {
    height: 400px;
  }

  .embla__viewport-responsivo {
    margin-bottom: -7rem;
  }
}
@media (max-width: 430px) {
  .embla-responsivo {
    --slide-spacing: 2rem;
    --slide-size: 83%;
    --slide-height: 372px;
    margin-top: -3rem;
    margin-bottom: -10rem;
  }
}